
:root {
    --primary-color: #A7C957;
    --secondary-color: #6A994E;
    --accent1-color:#BC4749;
    --accent2-color: #F2E8CF;

    --nav-background-color: #366641;
    --nav-link-color: white;
    --nav-hover-link-color: #d8f3d6;
    --nav-hover-background-color: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #001111;
    background-color: var(--nav-background-color);
}

header {
    padding: 10px;
    color: #001111;
    background-color: var(--nav-background-color) ;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 500px 4fr 1fr;
    border-bottom: 1px solid black;
    align-items: center;
    
}

main {
    color: #001111;
    background-color: var(--primary-color);
}

img {
    width: 150px;
}

nav {
    
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
nav a {
    font-family: 'Open Sans', serif;
    display: block;
    color: #001111;;
    text-decoration: none;      
}

p {
    font-family: 'Open Sans', serif;
    font-size: 14pt;
    color: #001111;
}

/* Class Selectors */

.hero {
    position: relative;
}

.hero img {
    color: #001111;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    font-family: 'Open Sans', serif;
    color: #001111;
    position: absolute;
    top: 8px;
    left: 0;
    padding: 15px 541px 15px;
    background-color: var(--accent2-color) ;
    opacity: 0.8;
}


    
article {
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--primary-color) ;
    opacity: 0.8;
    border: 10px;
    color: #001111;
}

article img {
    float: right;
    max-width: 300px;
    height: auto;
}
.history h2 {
    color: #001111;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #001111;
}

.container {
    font-size: 1rem;
    color: #001111;
    padding: 1rem;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto 20px;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #001111;
    font-family: 'Open Sans', serif;
}

.adventure h2 {
    font-family: 'Open Sans', serif;
    text-align: center;
    color: #001111;
}

#image-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
}

figure {
    box-sizing: border-box;
    border: thin rgb(247, 247, 247) solid;
    text-align: center;
    width: 50%;
}

figure img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

figcaption {
    background-color: var(--accent1-color);
    color: #001111;
    padding: 5px; 
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 20px;
    position: relative;
}

.sociallinks {
    position: absolute;
    top: 0;
    right: 20px;

}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    margin-left: 10px;
}

/*Contact page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #001111;
    

}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.company-info {
    
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #001111;
}

.map {
    width: 60%;
    float: right;
    border: 0;
    margin-left: auto;
}

.employee-profiles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.employee-profile {
    text-align: center;
    color: #001111;
}

.employee-profile {
    box-sizing: border-box;
    border: 1px solid #0e0101;
    padding: 30px;
    width: 30%;
    text-align: center;
}

.employee-profile img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.employee-profile p {
    font-size: 1.3rem;
}

form {
    width: 650px;
    margin: 0 auto;
    color: #001111;
    font-family:  'Open Sans', serif;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgb(211, 230, 247);
    display: grid;
}

fieldset {
    display: grid;
    color: #001111;
    font-family:  'Open Sans', serif;
    grid-gap: 1.5rem;
    margin: 1rem;
    border: #001111;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #001111;
    font-family:  'Open Sans', serif;
    font-size: 1.3em;
}

label {
    text-align: left;
}

input, textarea {
    color: #001111;
    font-family:  'Open Sans', serif;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 50px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    color: #001111;
    font-family:  'Open Sans', serif;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.5rem; 
}

button:hover {
    background-color: rgb(240, 89, 19);
}

a {
    color: #303030;
}

/*Trips Page */

.contact h1, h2 {
    color: #001111;
    font-family:  'Open Sans', serif;
    text-align: center;
}

.contact a:link, .contact a:visited {
    color: var(--nav-link-color) ;
}

.contact img {
    width: 100%;
    height: 100%;
    position: relative;
    color: #001111;
    font-family:  'Open Sans', serif;

}

.trip-descriptions {
    color: #001111;
    font-family:  'Open Sans', serif;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.trip {
    color: #001111;
    font-family:  'Open Sans', serif;
    box-sizing: border-box;
    border: 1px solid #faf9f9;
    padding: 30px;
    width: 30%;
    text-align: center;
    
}

.trip img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    color: #001111;
    font-family:  'Open Sans', serif;
}
/*Home or Index Page*/

.welcome h1 {
    font-size: 3em;
    color: #001111;
    padding: 10px 50px 10px;
    background-color: rgb(135, 176, 192);
    opacity: 0.8;
}

.full-width-image {
    width: 100%;
    color: #001111;
    height: auto;
    display: block;
}

.image-section h2 {
    font-size: 2em;
    color: #001111;
}

.content-wrapper {
    
    display: flex;
}

#form1 {
    display: inline-block;
    width: 70%;
    margin-right: 30px;
    background-color: rgb(56, 121, 56);
    color: #001111;;
}

.custom-form label {
    font-size: large;
}

.custom-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.trip-section {
    text-align: center;
    padding: 10px 50px 10px;
    opacity: 0.9;
}

.action-trip {
    margin-top: 50px;
    display: flex;
    font-size: 2rem;
    color: #001111;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(240, 89, 19)
}

.action-trip a:link, .action-trip a:visited  {
    text-decoration: none;
    color: var(--nav-link-color)
    
}

.grid-container {
    display: grid;
    color: #001111;
    grid-template-columns: auto auto auto auto;
    gap: 20px

}

.grid-container {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #001111;
}